{% extends 'base.html.twig' %}

{% block title %}Domains{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/component.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/notification/notification.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/animate.css/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/j-pro-modern.css') }}">

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <ul class="notifications" id="alert">
            <li>
                <button hidden id="alert_btn_success" class="btn btn-primary waves-effect" data-type="success" data-animation-in="animated bounceInRight" data-animation-out="animated bounceOutRight" data-title="Success! " data-message="{{ message }}">Bounce In Right</button>
            </li>
        </ul>
    {% endfor %}
    <div class="page-wrapper">
        <div class="page-header">
            <div class="page-header-title">
                <h4>Domains</h4>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('dashboard') }}">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Pages</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Domains</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col col-lg-12">
                    <div class="card ">
                        <div class="card-header">
                            <h5>Details of domain: </h5><label class="text-info"><strong>{{ domain.name }}</strong></label>
                            <a class="badge badge-info btn f-right"
                               href="{{ path('domains_index') }}">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">                                       
                                    <div class="row">
                                        <div class="col-lg-6 users-card">
                                            <div class="card user-card">
                                                <div class="card-header">
                                                    General informations
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <ul>
                                                                <li><strong>Client:</strong> {{ domain.client }}</li>
                                                                <li><strong>Creation date:</strong> {{ domain.creationDate ? domain.creationDate|date('d/m/Y') : '' }}</li>
                                                                <li><strong>RegistrAr:</strong> {{ domain.registrAr }}</li>
                                                                <li><strong>RegistrAnt:</strong> {{ domain.registrAnt }}</li>
                                                                <li><strong>NS 01:</strong> {{ domain.ns1 }}</li>
                                                                <li><strong>NS 02:</strong> {{ domain.ns2 }}</li>
                                                                <li><strong>Certificate:</strong> 
                                                                    {% if domain.hasCertificate == true %}
                                                                        <i class="fa fa-check text-success"></i>
                                                                    {% else %}
                                                                        <i class="fa fa-close text-danger"></i>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-lg-6 users-card">
                                            <div class="card user-card">
                                                <div class="card-header">
                                                    Managers & others informations
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <ul>
                                                                <li><strong>Admin:</strong> {{ domain.adminManager }}</li>
                                                                <li><strong>Technical manager:</strong> {{ domain.technicalManager }}</li>
                                                                <li><strong>Billing manager:</strong> {{ domain.billingManager }}</li>
                                                            </ul>
                                                            <hr/>
                                                            <ul>
                                                                <li><strong>Project associated:</strong> {{ domain.project }}</li>
                                                                <li><strong>Client:</strong> {{ domain.client }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/pages/data-table/js/data-table-custom.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/bower_components/sweetalert/js/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modalEffects.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/classie.js') }}"></script>

    <script>
        $("#alert").ready(function(){
            $("#alert_btn_success").click();
        });
    </script>

{% endblock %}
