{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/component.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/notification/notification.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/animate.css/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/j-pro-modern.css') }}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <ul class="notifications" id="alert">
            <li>
                <button hidden id="alert_btn_success" class="btn btn-primary waves-effect" data-type="success" data-animation-in="animated bounceInRight" data-animation-out="animated bounceOutRight" data-title="Success! " data-message="{{ message }}">Bounce In Right</button>
            </li>
        </ul>
    {% endfor %}
    <div class="page-wrapper">
        <div class="page-header">
            <div class="page-header-title">
                <h4>Clients</h4>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('dashboard') }}">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Pages</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Accounts managers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col col-lg-12">
                    <div class="card info-colorr">
                        <div class="card-header">
                            <h5>Edit {{ accounts_manager.name }}</h5>
                            <a class="badge badge-info btn f-right"
                               href="{{ path('accounts_managers_index') }}">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="card-block">
                            <div class="j-wrapper j-wrapper-640">
                                {{ form_start(form, {attr: {'class':'j-pro', 'novalidate':''}}) }}
                                <div class="j-content">
                                    <div class="j-unit">
                                        <label class="j-label">Name</label>
                                        <div class="j-input">
                                            <label class="j-icon-right" for="name">
                                                <i class="icofont icofont-ui-user"></i>
                                            </label>
                                            {{ form_widget(form.name) }}
                                        </div>
                                        <div class="j-unit">
                                            <label class="j-label">Function</label>
                                            <div class="j-input">
                                                <label class="j-icon-right" for="function">
                                                    <i class="icofont icofont-ui-lock"></i>
                                                </label>
                                                {{ form_widget(form.function) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="j-footer">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Save</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/pages/data-table/js/data-table-custom.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/bower_components/sweetalert/js/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modalEffects.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/classie.js') }}"></script>

    <script>
        $("#alert").ready(function(){
            $("#alert_btn_success").click();
        });
    </script>

{% endblock %}
