{% extends 'base.html.twig' %}

{% block title %}Accounts managers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/component.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/notification/notification.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/animate.css/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/j-pro/css/j-pro-modern.css') }}">

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <ul class="notifications" id="alert">
            <li>
                <button hidden id="alert_btn_success" class="btn btn-primary waves-effect" data-type="success" data-animation-in="animated bounceInRight" data-animation-out="animated bounceOutRight" data-title="Success! " data-message="{{ message }}">Bounce In Right</button>
            </li>
        </ul>
    {% endfor %}
    <div class="page-wrapper">
        <div class="page-header">
            <div class="page-header-title">
                <h4>Accounts managers</h4>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('dashboard') }}">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Pages</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Accounts managers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col col-lg-12">
                    <div class="card info-colorr">
                        <div class="card-header">
                            <h5>Accounts managers</h5>

                            <a class="badge badge-info btn f-right"
                               href="Javascript:void();" 
                               data-toggle="modal" 
                               data-target="#large-Modal">
                                <i class="fa fa-user f-right"></i>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="card-block">
                            <!-- start add accounts_manager -->
                            <div class="modal fade md-effect-5" id="large-Modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Add new Manager</h5>
                                            </div>
                                            <div class="card-block">
                                                <div class="j-wrapper j-wrapper-640">
                                                    {{ form_start(form, {attr: {'class':'j-pro', 'novalidate':''}}) }}
                                                    <div class="j-content">
                                                        <div class="j-unit">
                                                            <label class="j-label">Name</label>
                                                            <div class="j-input">
                                                                <label class="j-icon-right" for="name">
                                                                    <i class="icofont icofont-ui-user"></i>
                                                                </label>
                                                                {{ form_widget(form.name) }}
                                                            </div>
                                                        </div>
                                                        <div class="j-unit">
                                                            <label class="j-label">Function</label>
                                                            <div class="j-input">
                                                                <label class="j-icon-right" for="function">
                                                                    <i class="fa fa-gears"></i>
                                                                </label>
                                                                {{ form_widget(form.function) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="j-footer">
                                                        <button type="reset" class="btn btn-default waves-effect " data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-primary waves-effect waves-light ">Save</button>
                                                    </div>
                                                    {{ form_end(form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end add accounts_manager -->
                            <div class="dt-responsive table-responsive">
                                <table id="simpletable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Function</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for manager in accounts_managers %}
                                            <tr>
                                                <td>{{ manager.name }}</td>
                                                <td>
                                                    {% if manager.function == 'adminManager' %}
                                                        Admin
                                                    {% elseif manager.function == 'technicalManager' %}
                                                        Technical manager
                                                    {% elseif manager.function == 'billingManager' %}
                                                        Billing manager
                                                    {% else %}
                                                        <p class="text-warning">This manager dosen't have any function</p>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="row f-right">
                                                        <!-- details section start -->
                                                        <div class="col">
                                                            <a class="badge badge-default btn" href="Javascript:void();" data-toggle="modal" data-target="#details-Modal{{ manager.id }}">
                                                                <i class="icofont icofont-eye"></i>
                                                            </a>
                                                        </div>
                                                        <!-- details section end -->
                                                        <!-- edit section start -->
                                                        <div class="col">
                                                            <a href="{{ path('accounts_managers_edit', {'id': manager.id}) }}" class="badge badge-info btn">
                                                                <i class="icofont icofont-pen-alt-1"></i>
                                                            </a>
                                                        </div>
                                                        <!-- edit section end -->
                                                        <!-- delete section start -->
                                                        <div class="col">
                                                            <a class="badge badge-danger btn" href="Javascript:void();" data-toggle="modal" data-target="#delete-Modal{{ manager.id }}">
                                                                <i class="icofont icofont-trash"></i>
                                                            </a>
                                                            <div class="modal fade md-effect-5" id="delete-Modal{{manager.id}}" tabindex="-1" role="dialog">
                                                                <div class="modal-dialog modal-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="j-wrapper j-wrapper-640">
                                                                            <div class="card table-card">
                                                                                <div class="">
                                                                                    <div class="row-table">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6 card-block-big ">
                                                                                                <div class="row">
                                                                                                    <div class="col col-sm-4">

                                                                                                        <h3>
                                                                                                            Really you want to delete {{ manager.name }}
                                                                                                            <i class="icofont icofont-warning-alt text-warning"></i>
                                                                                                        </h3>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row f-right">
                                                                                        <div class="col">
                                                                                            <form novalidate method="post" action="{{ path('accounts_managers_delete', {'id': manager.id}) }}">
                                                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manager.id) }}">
                                                                                                <div class="">
                                                                                                    <button type="submit" class="btn btn-danger waves-effect waves-light ">Delete</button>
                                                                                                    <button type="reset" class="btn btn-default waves-effect " data-dismiss="modal">Cancel</button>
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- delete section end -->
                                                    </div>

                                                    <!-- start details modal -->
                                                    <div class="modal fade md-effect-5" id="details-Modal{{manager.id}}" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <h5>Details manager: {{ manager.name }}</h5>
                                                                        {% if manager.function == 'adminManager' %}
                                                                            <p class="badge badge-info">Admin</p>
                                                                        {% elseif manager.function == 'technicalManager' %}
                                                                            <p class="badge badge-info">Technical manager</p>
                                                                        {% elseif manager.function == 'billingManager' %}
                                                                            <p class="badge badge-info">Billing manager</p>
                                                                        {% else %}
                                                                            <p class="badge badge-warning">This manager dosen't have any function</p>
                                                                        {% endif %}
                                                                        <a class="badge btn-outline-danger btn f-right"
                                                                           href="Javascript:void();" 
                                                                           data-dismiss="modal">
                                                                            <i class="fa fa-close"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="card-block">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">

                                                                                <div class="row">

                                                                                    {% if manager.function == 'adminManager' %}
                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Servers
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for server in manager.adminServers %}

                                                                                                                    <li class="text-dark">   {{ server.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Domains
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for domain in manager.adminDomains %}

                                                                                                                    <li class="text-dark">   {{ domain.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Web hosts
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for host in manager.adminHosts %} 

                                                                                                                    <li class="text-dark">   {{ host.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}

                                                                                    {% if manager.function == 'technicalManager' %}
                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Servers
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for server in manager.technicalServers %}

                                                                                                                    <li class="text-dark">   {{ server.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Domains
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for domain in manager.technicalDomains %}

                                                                                                                    <li class="text-dark">   {{ domain.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Web hosts
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for host in manager.technicalHosts %} 

                                                                                                                    <li class="text-dark">   {{ host.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if manager.function == 'billingManager' %}
                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Servers
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for server in manager.billingServers %}

                                                                                                                    <li class="text-dark">   {{ server.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Domains
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for domain in manager.billingDomains %}

                                                                                                                    <li class="text-dark">   {{ domain.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-3">
                                                                                            <div class="card card-border-default">
                                                                                                <div class="card-header">
                                                                                                    Web hosts
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="row">
                                                                                                        <div class="col-sm-12">
                                                                                                            <ul class="f-left">
                                                                                                                {% for host in manager.billingHosts %} 
                                                                                                                    <li class="text-dark">   {{ host.name }}</li>
                                                                                                                {% endfor %}
                                                                                                            </ul>
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>                                                                                            
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end details modal -->
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/pages/data-table/js/data-table-custom.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/bower_components/sweetalert/js/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modalEffects.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/classie.js') }}"></script>

    <script>
        $("#alert").ready(function(){
            $("#alert_btn_success").click();
        });
    </script>

{% endblock %}
