<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}Mobelite labs{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/menu-search/css/component.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/flag-icon/flag-icon.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/themify-icons/themify-icons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/icofont/css/icofont.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/dashboard/horizontal-timeline/css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/dashboard/amchart/css/amchart.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/flag-icon/flag-icon.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/linearicons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/simple-line-icons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/ionicons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.mCustomScrollbar.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/font-awesome/css/font-awesome.min.css') }}">

            <!-- notifications styles-->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/pnotify/css/pnotify.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/pnotify/css/pnotify.brighttheme.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/pnotify/css/pnotify.buttons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/pnotify/css/pnotify.history.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bower_components/pnotify/css/pnotify.mobile.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/pnotify/notify.css') }}">

        {% endblock %}


    </head>
    <body>

        <div class="theme-loader">
            <div class="ball-scale">
                <div></div>
            </div>
        </div>
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">

                <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
                    <div class="navbar-wrapper">
                        <div class="navbar-logo">
                            <a class="mobile-menu" id="mobile-collapse" href="#!">
                                <i class="ti-menu"></i>
                            </a>
                            <a class="mobile-search morphsearch-search" href="#">
                                <i class="ti-search"></i>
                            </a>
                            <a href="index.html">
                                <img class="img-fluid" src="{{ asset('assets/images/logo_mobelite.svg') }}" alt="Theme-Logo" />
                            </a>
                            <a class="mobile-options">
                                <i class="ti-more"></i>
                            </a>
                        </div>
                        <div class="navbar-container container-fluid">
                            <div>
                                <ul class="nav-left">
                                    <li>
                                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                                    </li>
                                    <li>
                                        <a class="main-search morphsearch-search" href="#">
                                            <!-- themify icon -->
                                            <i class="ti-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" onclick="javascript:toggleFullScreen()">
                                            <i class="ti-fullscreen"></i>
                                        </a>
                                    </li>

                                </ul>
                                <ul class="nav-right">

                                    <li class="header-notification">
                                        <a href="#!">
                                            <i class="ti-bell"></i>
                                            <span class="badge">5</span>
                                        </a>
                                        <ul class="show-notification">
                                            <li>
                                                <h6>Notifications</h6>
                                                <label class="label label-danger">New</label>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img class="d-flex align-self-center" src="{{ asset('assets/images/user.png') }}" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="notification-user">John Doe</h5>
                                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                        <span class="notification-time">30 minutes ago</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img class="d-flex align-self-center" src="{{ asset('assets/images/user.png') }}" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="notification-user">Joseph William</h5>
                                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                        <span class="notification-time">30 minutes ago</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img class="d-flex align-self-center" src="{{ asset('assets/images/user.png') }}" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="notification-user">Sara Soudein</h5>
                                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                        <span class="notification-time">30 minutes ago</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="user-profile header-notification">
                                        <a href="#!">
                                            <img src="{{ asset('assets/images/user.png') }}" alt="User-Profile-Image">
                                            <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                            <i class="ti-angle-down"></i>
                                        </a>
                                        <ul class="show-notification profile-notification">
                                            <li>
                                                <a href="#!">
                                                    <i class="ti-settings"></i> Settings
                                                </a>
                                            </li>
                                            <li>
                                                <a href="user-profile.html">
                                                    <i class="ti-user"></i> Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href="email-inbox.html">
                                                    <i class="ti-email"></i> My Messages
                                                </a>
                                            </li>
                                            <li>
                                                <a href="auth-lock-screen.html">
                                                    <i class="ti-lock"></i> Lock Screen
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_logout') }}">
                                                    <i class="ti-layout-sidebar-left"></i> Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- search -->
                                <div id="morphsearch" class="morphsearch">
                                    <form class="morphsearch-form">
                                        <input class="morphsearch-input" type="search" placeholder="Search..." />
                                        <button class="morphsearch-submit" type="submit">Search</button>
                                    </form>

                                    <!-- /morphsearch-content -->
                                    <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
                                </div>
                                <!-- search end -->
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar" pcoded-header-position="relative">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="">
                                    <div class="main-menu-header">
                                        <img class="img-40" src="{{ asset('assets/images/user.png') }}" alt="User-Profile-Image">
                                        <div class="user-details">
                                            <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                            <span id="more-details">
                                                Admin
                                                <i class="ti-angle-down"></i></span>
                                        </div>
                                    </div>

                                    <div class="main-menu-content">
                                        <ul>
                                            <li class="more-details">
                                                <a href="#!"><i class="ti-user"></i>View Profile</a>
                                                <a href="#!"><i class="ti-settings"></i>Settings</a>
                                                <a href="#!"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" menu-title-theme="theme5">Navigation</div>
                                <ul class="pcoded-item pcoded-left-item">
                                        <li {% if app.request.attributes.get('_route') == 'dashboard' %} class="active" {% endif %}>
                                            <a href="{{ path('dashboard') }}">
                                                <span class="pcoded-micon"><i class="ti-dashboard"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'servers_index' %} class="active" {% endif %}>
                                            <a href="{{ path('servers_index') }}">
                                                <span class="pcoded-micon"><i class="fa fa-server"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.widget.main">Servers</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'domains_index' %} class="active" {% endif %}>
                                            <a href="{{ path('domains_index') }}">
                                                <span class="pcoded-micon"><i class="ti-world"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.widget.main">Domains</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'hosts_index' %} class="active" {% endif %}>
                                            <a href="{{ path('hosts_index') }}">
                                                <span class="pcoded-micon"><i class="ti-cloud"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.widget.main">Hosts</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'certificates_index' %} class="active" {% endif %}>
                                            <a href="{{ path('certificates_index') }}">
                                                <span class="pcoded-micon"><i class="fa fa-certificate"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.widget.main">Certificates</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class="
                                                pcoded-hasmenu
                                                
                                                {% if 
                                                    app.request.attributes.get('_route') == 'clients_index'  %} 
                                                    pcoded-trigger active 
                                                {% endif %}
                                                {% if 
                                                    app.request.attributes.get('_route') == 'accounts_managers_index'  %} 
                                                    pcoded-trigger active 
                                                {% endif %}
                                                {% if 
                                                    app.request.attributes.get('_route') == 'projects_index'  %} 
                                                    pcoded-trigger active 
                                                {% endif %}
                                                {% if 
                                                    app.request.attributes.get('_route') == 'user_index'  %} 
                                                    pcoded-trigger active 
                                                {% endif %}
                                            ">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-micon"><i class="ti-settings"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.widget.main">Config</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li {% if app.request.attributes.get('_route') == 'clients_index' %} class="active" {% endif %}>
                                                    <a href="{{ path('clients_index') }}">
                                                        <span class="pcoded-micon"><i class="icon-user"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.default">Clients</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                                <li {% if app.request.attributes.get('_route') == 'accounts_managers_index' %} class="active" {% endif %}>
                                                    <a href="{{ path('accounts_managers_index') }}">
                                                        <span class="pcoded-micon"><i class="icon-user"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.default">Accounts managers</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                                <li {% if app.request.attributes.get('_route') == 'projects_index' %} class="active" {% endif %}>
                                                    <a href="{{ path('projects_index') }}">
                                                        <span class="pcoded-micon"><i class="icon-user"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.default">Projects</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                                <li {% if app.request.attributes.get('_route') == 'user_index' %} class="active" {% endif %}>
                                                    <a href="{{ path('user_index') }}">
                                                        <span class="pcoded-micon"><i class="icon-user"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.default">Users</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                            </nav>
                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">

                                    <div class="main-body">

                                        {% block body %}{% endblock %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('assets/bower_components/jquery/js/jquery.min.js') }}"></script>
                <script src="{{ asset('assets/bower_components/jquery-ui/js/jquery-ui.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/popper.js/js/popper.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/bootstrap/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/jquery-slimscroll/js/jquery.slimscroll.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/modernizr/js/modernizr.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/modernizr/js/css-scrollbars.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/classie/js/classie.js') }}"></script>
                <script src="{{ asset('assets/bower_components/d3/js/d3.js') }}"></script>
                <script src="{{ asset('assets/bower_components/rickshaw/js/rickshaw.js') }}"></script>
                <script src="{{ asset('assets/bower_components/raphael/js/raphael.min.js') }}"></script>
                <script src="{{ asset('assets/bower_components/morris.js/js/morris.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/pages/dashboard/horizontal-timeline/js/main.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/pages/dashboard/amchart/js/amcharts.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/pages/dashboard/amchart/js/serial.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/pages/dashboard/amchart/js/light.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/pages/dashboard/amchart/js/custom-amchart.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/i18next/js/i18next.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/jquery-i18next/js/jquery-i18next.min.js') }}"></script>

                <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>
                <script src="{{ asset('assets/js/pcoded.min.js') }}"></script>
                <script src="{{ asset('assets/js/demo-12.js') }}"></script>
                <script src="{{ asset('assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
                <script src="{{ asset('assets/js/jquery.mousewheel.min.js') }}"></script>

                <!-- notifications scripts -->
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.desktop.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.buttons.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.confirm.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.callbacks.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.animate.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.history.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.mobile.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/bower_components/pnotify/js/pnotify.nonblock.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/bootstrap-growl.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/pages/notification/notification.js') }}"></script>
            {% endblock %}
        </body>
    </html>
